.vue-openapi-form {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding: 15px;
}
// title style
.ac-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e8e8e8;
  padding: 7px 20px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  &::before{
      position: absolute;
      content: "";
      left: -15px;
      top: 50%;
      width: 15px;
      height: 1px;
      background: #ddd;
      margin-top: -.5px;
      z-index: -1;
  }
  .ac-level-left {
    display: flex;
    align-items: center;
    .ac-form-title {
      h4 {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }
}
// collaps button style
.collaps-button {
  margin-right: 10px;
  .button.button-circle {
    background-color: transparent;
    width: 20px;
    height: 20px;
    color: #3d3d65;
    border-color: #3d3d65;
    font-size: 8px;
    border-radius: 50%;
  }
}
// toggle button style
.ac-toggle-buttons {
  li {
    a {
      border: none !important;
      font-size: 14px;
      font-weight: 500;
      padding: 4px 15px;
      border-radius: 4px !important;
    }
  }
}
// form style
.vue-schema-form-object{
  padding: 15px 0 15px 30px;
  border-radius: 4px;
  // background-color: #fff;
  // margin-top: 30px;
  // margin-bottom: 30px;
  position: relative;
  z-index: 1;
  &::after{
    position: absolute;
    content: "";
    background-color: #E8E8E8;
    left: 16px;
    bottom: 95px;
    width: 1px;
    height: 60px;
  }
}

.vue-schema-form-array {
  padding: 15px 0 15px 30px;
  border-radius: 4px;
  // background-color: #fff;
  // margin-top: 30px;
  // margin-bottom: 30px;
  position: relative;
  z-index: 1;
  &::after{
    position: absolute;
    content: "";
    background-color: #E8E8E8;
    left: 16px;
    bottom: 95px;
    width: 1px;
    height: calc(100% - 60px);
  }
  // &::after {
  //   position: absolute;
  //   content: "";
  //   left: 45px;
  //   top: 35px;
  //   width: 1px;
  //   height: calc(100% - 67px);
  //   background-color: #e8e8e8;
  // }
  .ac-field {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    margin-left: 30px;
    &::before {
      position: absolute;
      content: "";
      left: -15px;
      top: 50%;
      background-color: #e8e8e8;
      width: 16px;
      height: 1px;
      margin-top: 2px;
    }
    &::after {
      position: absolute;
      content: "";
      left: -15px;
      top: -37px;
      background-color: #e8e8e8;
      width: 1px;
      height: 60px;
    }
    label {
      font-size: 14px;
      color: #808080;
      position: absolute;
      z-index: 2;
      background-color: #fff;
      top: -7px;
      left: 15px;
      font-weight: 400;
      margin: 0;
      line-height: 14px;
    }
    input {
      border: 1px solid $border-dark-color;
      box-shadow: none;
      font-size: 14px;
      font-weight: 500;
      height: 40px;
      padding-left: 15px;
      border-radius: 4px;
      &:focus {
        outline: none;
        border-color: $primary-color;
        box-shadow: none;
      }
    }
  }
}
.ac-key-value-action-button,
.ac-list-action-button {
  margin: 0 !important;
  &.is-success {
    background-color: #cce2f2 !important;
  }
}

// form inner content
.form-container {
  display: flex;
  justify-content: space-between;
  .form-left-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80%;
  }
  .form-right-item {
    margin-top: 10px;
  }
}

.form-left-item {
  width: 100%;
}

.ac-level-from-button {
  display: flex;
  justify-content: space-between;
  .ac-level-10 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 95%;
  }
  .ac-level-2 .buttons {
    margin-top: 20px;
  }
}
