@import "~bulma/css/bulma.min.css";
@import "~bulma-switch/dist/css/bulma-switch.min.css";

// BASE
@import "./../../../node_modules/@appscode/design-system/base/utilities/initial-variables";
@import "./../../../node_modules/@appscode/design-system/base/utilities/derived-variables";
@import "./../../../node_modules/@appscode/design-system/base/utilities/typography";
@import "./../../../node_modules/@appscode/design-system/base/utilities/default";
@import "./../../../node_modules/@appscode/design-system/base/utilities/mixin";

// COMPONENTS
@import "./../../../node_modules/@appscode/design-system/components/_buttons";
@import "./../../../node_modules/@appscode/design-system/components/_navbar";
@import "./../../../node_modules/@appscode/design-system/components/_ac-input";
@import "./../../../node_modules/@appscode/design-system/components/_ac-code-highlight";
@import "./../../../node_modules/@appscode/design-system/components/_ac-content-layout";
@import "./../../../node_modules/@appscode/design-system/components/_ac-tabs";
@import "~@appscode/design-system/components/ui-builder/ui-builder";

// Custom style
// @import "./form-style.scss";

.ac-nested-elements .nested-header {
  width: 100%;
}
.vue-schema-form-array {
  .nested-body {
    margin-bottom: 15px;
    display: flex;
    .form-left-item {
      margin-right: 10px;
      width: calc(100% - 92px);
    }
  }
}

.nested-header {
  .tabs.ac-tabs {
    margin-bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    .tabs.ac-tabs {
      opacity: 1;
      visibility: visible;
    }
  }
}

.vue-openapi-form {
  width: 720px;
  margin: 0 auto;
}

.vue-form-scema-body {
  .left-content {
    width: 400px;
    background-color: #f1f1f1;
    margin-top: 30px;
  }
  .right-content {
    width: 100%;
  }
}
