@import "./../../../node_modules/@appscode/design-system/base/utilities/customize-bulma.scss";

@import 'bulma/bulma.sass';
@import 'bulma-switch/dist/css/bulma-switch.min.css';
@import 'floating-vue/dist/style.css';
// BASE
@import './../../../node_modules/@appscode/design-system/base/utilities/all.scss';
// COMPONENTS
@import './../../../node_modules/@appscode/design-system/components/ui-builder/ui-builder';
@import './../../../node_modules/@appscode/design-system/components/ui-builder/vue-open-api';

.vue-openapi-form {

  .nested-body {
    .form-left-item {
      width: calc(100% - 108px);
    }
    .form-left-item{
      margin-right: 16px;
    }
  }



  .key-value-save > .ac-single-input{
    margin-left: 0;
   
  }
  .key-value-save > .ac-nested-elements{
    padding-left: 0;
    &:after {
      left: 8px;
    }
    &:before {
      left: 4px;
    }
  }
  // .ac-nested-elements.object-form-wrapper:not(:first-child){
  //   padding-left: 0;
  // }

  .ac-single-switch {
    // .switch[type=checkbox]+label::before, .switch[type=checkbox]+label:before{
    //   background: $primary;
    // }
  }
}