// Define Font Family
$font-heading: "Raleway", sans-serif;
$font-paragraph: "Roboto", sans-serif;
$font-link: "Roboto", sans-serif;

// Define Font Size
$font-small: 12px;
$font-regular: 15px;
$font-semi-regular: 16px;
$font-large: 18px;

// Define Colour
$primary-color: #1971bd;
$heading-color: #001320;
$paragraph-color: #393e46;
$list-color: #4a4a4a;
$border-color: #e8e8e8;
$border-dark-color: #bcbec0;
$header-bg-color: #e8e8e8;
$bg-color: #fbfbfb;

// Define Basic Colour
$blue-color: #0000fd;
$orange-color: #f99a00;
$red-color: #ff033e;
$white-color: #ffffff;
$green-color: #35a651;
